<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
    	<meta charset="UTF-8">
   
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<title>Item Add</title>
	    <!-- 합쳐지고 최소화된 최신 CSS -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">	
	    <!-- 부가적인 테마 -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">	
	    <!-- 서버용 링크 -->
	    <link rel="stylesheet" href="/css/style.css">
    </head>
	<body>	
	    <nav class="navbar navbar-inverse navbar-fixed-top">
	        <div class="container-fluid">
	          <div class="navbar-header">
	            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	              <span class="sr-only">Toggle navigation</span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="/">Shop Manager</a>
	          </div>
	          <div id="navbar" class="navbar-collapse collapse">
	            <ul class="nav navbar-nav navbar-right">             
	              <li><a href="/manager">매니저 관리</a></li>
	              <li class="active"><a href="/item">상품 관리</a></li>
	            </ul>
	          </div>
	        </div>
	    </nav>
	  
	    <div class="container-fluid">
	        <div class="row">
	            <div class="col-sm-3 col-md-2 sidebar">
	                <ul class="nav nav-sidebar">
	                    <li><a href="/item">전체 상품목록</a></li>
	                    <!-- 수정과 삭제는 상품상세에서 합니다. -->
	                    <!-- 상품 상세에는 아이디를 입력하여 조회할 수 있습니다. -->
	                    <li><a href="/item/detail">상품 상세</a></li>
	                    <li class="active"><a href="/item/add">상품 등록</a></li>
	                </ul>                
	            </div>
	            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	                <h1 class="page-header">상품 등록</h1>
	    
	    			<div class="sub-header">
	                    <span style="font-size:x-large;margin-right:20px;">상품 정보</span>
	                    <button type="button" class="btn btn-info" id="add_item">상품등록</button>
	                </div>
	                <div style="height: 100px;padding:20px;">
	                	<div class="input-group mb-3" style="float:left; margin-left:15px; margin-bottom:15px;">
	                        <div class="input-group-prepend">
	                            <span class="input-group-text" id="inputGroup-sizing-default">매니저</span>
	                        </div>
	                        <select style="height: 35px;" id="i_manager">
	                        	<option th:if="${#lists.size(list)} > 0" value=-1>
	                        		매니저를 선택해주세요.
	                        	</option>
	                        	<option th:if="${#lists.size(list)} > 0" 
	                        		th:each="list : ${list}"
	                        		th:value=${list.idx}
	                        		th:text="${list.name}+' ( '+ ${list.id}+' )'">
	                        		매니저이름 ( 매니저아이디 )
	                        	</option>
	                        	<option th:unless="${#lists.size(list)} > 0">
	                        		등록된 매니저가 없습니다.
	                        	</option>
	                        </select>
	                    </div>
	                    <div class="input-group mb-3" style="float:left; margin-left:15px; margin-bottom:15px;">
	                        <div class="input-group-prepend">
	                            <span class="input-group-text" id="inputGroup-sizing-default">상품명</span>
	                        </div>
	                        <input type="text" class="form-control" aria-label="Default"
	                            name="name"
	                            id="i_name"
	                            aria-describedby="inputGroup-sizing-default">
	                    </div>
	                    <div class="input-group mb-3" style="float:left; margin-left:15px; margin-bottom:15px;">
	                        <div class="input-group-prepend">
	                            <span class="input-group-text" id="inputGroup-sizing-default">가격</span>
	                        </div>
	                        <input type="number" class="form-control" aria-label="Default"
	                            name="price"
	                            id="i_price"
	                            aria-describedby="inputGroup-sizing-default">
	                    </div>
	                    <div class="input-group mb-3" style="float:left; margin-left:15px; margin-bottom:15px;">
	                        <div class="input-group-prepend">
	                            <span class="input-group-text" id="inputGroup-sizing-default">재고 수량</span>
	                        </div>
	                        <input type="number" class="form-control" aria-label="Default"
	                            name="stock"
	                            id="i_stock"
	                            aria-describedby="inputGroup-sizing-default">
	                    </div>
	                </div>
	                <br/>
	                <div class="sub-header">
	                    <span style="font-size:x-large;margin-right:20px;">상품 미리보기 이미지</span>
	                    <button type="button" class="btn btn-info" id="add_list_image">추가하기</button>
	                </div>
	                
	                <input type="file" id="fileInput" style="display: none;" multiple="multiple"/>
	                
	                <div class="imgListWrapper">
	                    <div class="cardWrapper">
	                    </div>
	                </div>
	                <div class="sub-header" style="margin-top:20px;">
	                    <span style="font-size:x-large;margin-right:20px;">상품 내부설명 이미지</span>
	                    <button type="button" class="btn btn-info" id="add_content_image">추가하기</button>
	                </div>
	                <div class="imgListWrapper">
	                    <div class="cardWrapper">
	                        
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	
	
		<form id="itemAdd" action="/item/add" enctype="multipart/form-data" method="post"></form>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	
	    <script src="/js/shopManager.js"></script>
	</body>
</html>